@page "/search-results/{UserIds}"

@using LangPrac.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject ApplicationDbContext DbContext
@inject IHttpContextAccessor HttpContextAccessor

<style>
    .page {
        background: url('searchbg.png') no-repeat center center fixed !important;
        background-size: cover !important;
        height: 100vh !important;
        width: 100vw !important;
        font-size: 2.1vh;
    }

    .results-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
        max-width: 25vw;
        margin: 0vh auto;
        padding: 6.7vh;
        border-radius: 1.3vh;
        background-color: #184f78;
        box-shadow: 0 0 1.3vh rgba(0, 0, 0, 0.1);
        color: #ffffff;
        position: relative;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color: #7E8D85;
        padding: 2.7vh;
        border-radius: 0.7vh;
        box-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.2);
    }

        .card img {
            width: 6vw;
            height: 6vw;
            border-radius: 50%;
            margin-bottom: 1.3vh;
        }

        .card div {
            flex-grow: 1;
        }

        .card .info {
            text-align: center;
            font-size: 1.9vh;
        }

    .avatar-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        color: darkgrey;
    }

    .btn-invite {
        padding: 1.1vh 2.1vw;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 0.7vh;
        font-weight: bold;
        cursor: pointer;
        margin-top: 1.3vh;
    }

        .btn-invite:hover {
            background-color: #45a049;
        }

    .btn-find-more {
        padding: 1.1vh 2.1vw;
        background-color: #FC7753;
        color: #FFFFFF;
        border: none;
        border-radius: 0.7vh;
        cursor: pointer;
        font-weight: bold;
        margin-top: 2.6vh;
    }

        .btn-find-more:hover {
            background-color: #E36847;
        }

    .no-more-partners {
        color: #ffd700;
        text-align: center;
        padding: 1.3vh;
        font-size: 2.1vh;
    }

    .back-to-search {
        position: absolute;
        top: 1.3vh;
        right: 1.3vw;
        padding: 0.7vh 1.3vw;
        background-color: #1a8ec2;
        color: white;
        border-radius: 0.7vh;
        cursor: pointer;
        border: none;
    }

    .language-info {
        text-align: left;
        color: #d0e8ff;
        margin-top: 1.3vh;
    }

    .language {
        background-color: #2c3e50;
        padding: 0.7vh;
        border-radius: 0.5vh;
        margin: 0.3vh 0;
        color: white;
        font-weight: bold;
        font-size: 1.7vh;
    }

    .invitation-sent {
        display: block;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 1.1vh 2.1vw;
        border-radius: 0.7vh;
        font-size: 1.9vh;
        margin-top: 1.3vh;
        box-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.2);
    }

    .loading-animation {
        border: 0.5vh solid #f3f3f3;
        border-radius: 50%;
        border-top: 0.5vh solid #3498db;
        width: 4vw;
        height: 4vw;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }


/* Safari */
@@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>


<div class="results-container">
    <button class="back-to-search" @onclick="GoBack">Назад</button>
    @if (!string.IsNullOrEmpty(searchMessage) && searchMessage == "No more partners found.")
    {
        <div class="no-more-partners">@searchMessage</div>
    }
    else if (isLoading)
    {
        <div class="loading-animation"></div>
    }
    else if (CurrentUser != null)
    {
        <div class="card">
            <div>
                @if (CurrentUser.AvatarImage != null)
                {
                    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(CurrentUser.AvatarImage)}")" alt="Avatar" />
                }
                else
                {
                    <div class="avatar-placeholder">No Avatar</div>
                }
            </div>
            <div class="info">
                <strong>@CurrentUser.Nickname</strong> <br />
                Country: @(!string.IsNullOrEmpty(CurrentUser.Country) ? CurrentUser.Country : "Unknown") <br />
                Gender: @(!string.IsNullOrEmpty(CurrentUser.Gender) ? CurrentUser.Gender : "Unknown") <br />
                <span>Age: @(CalculateAge(CurrentUser.DateOfBirth)?.ToString() ?? "Unknown")</span> <br />
                <div class="language-info">
                    <strong>Languages Known:</strong>
                    @foreach (var lang in CurrentUser.UserLanguages.Where(ul => ul.LanguageType == "Knows"))
                    {
                        <div class="language">@lang.Language.LanguageName (@lang.LanguageLvl.GetEnumMemberValue())</div>
                    }
                    <strong>Languages Learning:</strong>
                    @foreach (var lang in CurrentUser.UserLanguages.Where(ul => ul.LanguageType == "Wants to Learn"))
                    {
                        <div class="language">@lang.Language.LanguageName (@lang.LanguageLvl.GetEnumMemberValue())</div>
                    }
                </div>
                @if (invitationSent.ContainsKey(CurrentUser.Id) && invitationSent[CurrentUser.Id])
                {
                    <span class="invitation-sent">Invitation sent!</span>
                }
                else
                {
                    <button class="btn-invite" @onclick="() => SendInvite(CurrentUser)">Invite</button>
                }
            </div>
        </div>
        @if (searchMessage != "No more partners found.")
        {
            <button class="btn-find-more" @onclick="FindMoreAsync">Find More</button>
        }
    }
</div>


@code {
    [Parameter]
    public string UserIds { get; set; } = string.Empty;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private List<ApplicationUser> Users { get; set; } = new List<ApplicationUser>();
    private Dictionary<string, bool> invitationSent = new Dictionary<string, bool>();

    private ApplicationUser CurrentUser;
    private int currentIndex = 0;
    private string searchMessage = string.Empty;
    private bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext == null)
        {
            HttpContext = HttpContextAccessor.HttpContext;
        }

        var userIdList = UserIds.Split(',').ToList();
        isLoading = true;
        UpdateState();

        await Task.Delay(1500); 

        Users = await DbContext.Users
            .Where(u => userIdList.Contains(u.Id) && u.Id != UserManager.GetUserId(HttpContext.User))
            .Include(u => u.UserLanguages)
            .ToListAsync();

        if (Users.Any())
        {
            CurrentUser = Users.First();
        }
        else
        {
            searchMessage = "No matching users found.";
        }

        isLoading = false;
        UpdateState();
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/search");
    }

    private int? CalculateAge(DateOnly? dateOfBirth)
    {
        if (!dateOfBirth.HasValue)
        {
            return null; // Или возвращайте значение по умолчанию, если ожидается, что возраст всегда будет известен
        }

        var today = DateOnly.FromDateTime(DateTime.Today);
        var age = today.Year - dateOfBirth.Value.Year;
        // Если еще не было дня рождения в этом году, отнимаем один год
        if (dateOfBirth.Value.AddYears(age) > today)
        {
            age--;
        }
        return age;
    }

    private async Task FindMoreAsync()
    {
        isLoading = true;
        UpdateState();
        currentIndex++;
        if (currentIndex >= Users.Count)
        {
            searchMessage = "No more partners found.";
            CurrentUser = null;
            isLoading = false;
            UpdateState();
            return;
        }
        await Task.Delay(1500);
        CurrentUser = Users[currentIndex];
        isLoading = false;
        UpdateState();
    }

    private void UpdateState()
    {
        StateHasChanged(); // Обновляет состояние компонента и перерисовывает UI
    }

    private async Task SendInvite(ApplicationUser user)
    {
        if (!invitationSent.ContainsKey(user.Id) || !invitationSent[user.Id])
        {
            var notificationForReceiver = new Notification
                {
                    SenderId = UserManager.GetUserId(HttpContext.User),
                    ReceiverId = user.Id,
                    Message = $"You have been invited by {UserManager.GetUserName(HttpContext.User)} to join a chat."
                };

            var notificationForSender = new Notification
                {
                    SenderId = UserManager.GetUserId(HttpContext.User),
                    ReceiverId = UserManager.GetUserId(HttpContext.User),
                    Message = $"Your invitation to {user.UserName} has been sent.",
                    Status = "Sent"
                };

            DbContext.Notifications.AddRange(notificationForReceiver, notificationForSender);
            await DbContext.SaveChangesAsync();

            invitationSent[user.Id] = true;  // Mark the invitation as sent.
        }
    }

}