@page "/search"

@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using LangPrac.Data
@using LangPrac.Components.Account
@using Microsoft.EntityFrameworkCore

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
    .alert-warning {
        margin-top: 10px;
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }
</style>

@attribute [Authorize]

<h3>Search</h3>

<button class="btn btn-primary" @onclick="QuickSearchAsync">Quick Search</button>
<button class="btn btn-primary" @onclick="ToggleAdvancedSearch">Advanced Search</button>
@if (!string.IsNullOrEmpty(searchMessage))
{
    <div class="alert alert-warning" role="alert">
        @searchMessage
    </div>
}

@if (showAdvancedSearch)
{
    <div>
        <label for="languageToLearn">Language to Learn:</label>
        <select @bind="selectedLanguageId" id="languageToLearn">
            @foreach (var language in userLanguages.Where(ul => ul.LanguageType == "Wants to Learn"))
            {
                <option value="@language.LanguageId">@language.Language.LanguageName</option>
            }
        </select>
        <br />

        <label for="partnerLanguageLevelFrom">Partner's Language Level From:</label>
        <select id="partnerLanguageLevelFrom" @bind="partnerLanguageLevelFrom">
            @foreach (LanguageLvl level in Enum.GetValues(typeof(LanguageLvl)))
            {
                <option value="@level" selected="@(level == partnerLanguageLevelFrom)">@level.GetDescription()</option>
            }
        </select>
        <br />

        <label for="partnerLanguageLevelTo">Partner's Language Level To:</label>
        <select id="partnerLanguageLevelTo" @bind="partnerLanguageLevelTo">
            @foreach (LanguageLvl level in Enum.GetValues(typeof(LanguageLvl)))
            {
                <option value="@level" selected="@(level == partnerLanguageLevelTo)">@level.GetDescription()</option>
            }
        </select>
        <br />

        <label for="ageFrom">Age From:</label>
        <select id="ageFrom" @bind="ageFrom" disabled="@anyAgeSelected">
            @for (int i = 18; i <= 100; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <br />

        <label for="ageTo">Age To:</label>
        <select id="ageTo" @bind="ageTo" disabled="@anyAgeSelected">
            @for (int i = 18; i <= 100; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <br />

        <label>
            <input type="checkbox" @bind="anyAgeSelected" /> Любой возраст
        </label>
        <br />

        <label for="gender">Gender:</label>
        <select @bind="selectedGender" id="gender">
            <option value="">Any</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <br />

        <button class="btn btn-primary" @onclick="AdvancedSearchAsync">Search</button>
    </div>
}

@code {
    private ApplicationUser user = default!;
    private string? username;
    private List<UserLanguage> userLanguages = new List<UserLanguage>();

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string searchMessage = "";
    private bool showAdvancedSearch = false;
    private int selectedLanguageId;
    private LanguageLvl partnerLanguageLevelFrom = LanguageLvl.A1;
    private LanguageLvl partnerLanguageLevelTo = LanguageLvl.C2;
    private int? ageFrom = 18;
    private int? ageTo = 80;
    private bool anyAgeSelected = true; // По умолчанию "Любой возраст" выбран
    private string selectedGender;


    protected override async Task OnInitializedAsync()
    {
        if (HttpContext == null)
        {
            HttpContext = HttpContextAccessor.HttpContext;
        }

        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);

        userLanguages = await DbContext.UserLanguages
            .Include(ul => ul.Language)
            .Where(ul => ul.UserId == user.Id)
            .ToListAsync();
    }

    private void ToggleAdvancedSearch()
    {
        showAdvancedSearch = !showAdvancedSearch;
    }

    private async Task QuickSearchAsync()
    {
        var knownLanguages = userLanguages
            .Where(ul => ul.LanguageType == "Knows")
            .Select(ul => ul.LanguageId)
            .ToList();

        var wantsToLearnLanguages = userLanguages
            .Where(ul => ul.LanguageType == "Wants to Learn")
            .Select(ul => ul.LanguageId)
            .ToList();

        var searchResults = await DbContext.Users
            .Where(u => u.Id != user.Id)
            .Where(u => u.UserLanguages.Any(ul =>
                wantsToLearnLanguages.Contains(ul.LanguageId) && ul.LanguageType == "Knows") &&
                u.UserLanguages.Any(ul =>
                knownLanguages.Contains(ul.LanguageId) && ul.LanguageType == "Wants to Learn"))
            .ToListAsync();

        if (searchResults.Count == 0)
        {
            searchMessage = "No matching users found.";
        }
        else
        {
            var userIds = searchResults.Select(u => u.Id).ToList();
            NavigationManager.NavigateTo($"search-results/{string.Join(",", userIds)}");
        }
    }

    private async Task AdvancedSearchAsync()
    {
        var now = DateOnly.FromDateTime(DateTime.Now);
        var query = DbContext.Users
            .Include(u => u.UserLanguages)
            .Where(u => u.Id != user.Id)
            .Where(u => u.UserLanguages.Any(ul => ul.LanguageId == selectedLanguageId &&
                                                  ul.LanguageType == "Knows" &&
                                                  ul.LanguageLvl >= partnerLanguageLevelFrom &&
                                                  ul.LanguageLvl <= partnerLanguageLevelTo));

        // Проверка на выбор опции "Любой возраст"
        if (!anyAgeSelected)
        {
            query = query.Where(u => u.DateOfBirth.HasValue &&
                                     (now.Year - u.DateOfBirth.Value.Year >= (ageFrom ?? 0) &&
                                      now.Year - u.DateOfBirth.Value.Year <= (ageTo ?? 150)));
        }

        // Фильтрация по полу с учетом пользователей с неуказанным полом
        if (!string.IsNullOrEmpty(selectedGender) && selectedGender != "Any")
        {
            query = query.Where(u => u.Gender == selectedGender);
        }
        else if (selectedGender == "Any")
        {
            query = query.Where(u => string.IsNullOrEmpty(u.Gender) || u.Gender == "Unknown" || u.Gender == "Male" || u.Gender == "Female" || u.Gender == "Other");
        }

        var users = await query.ToListAsync();

        if (users.Count == 0)
        {
            searchMessage = "No matching users found.";
        }
        else
        {
            var userIds = users.Select(u => u.Id).ToList();
            NavigationManager.NavigateTo($"search-results/{string.Join(",", userIds)}");
        }
    }

}